{{extend 'layout.html'}}

<h2>Service Catalogue</h2>
<h3>ITIL Definition of service:</h3>
A means of delivering value to Customers by facilitating Outcomes [which] Customers want to achieve without the ownership of specific Costs and Risks.
<h3>ITIL Definition of service catalogue:</h3>
The ITIL Service Catalog is a database or structured document with information about all live IT services, including those available for deployment. The service catalog is part of the service portfolio and contains information about two types of IT service: customer-facing services (or Business services) that are visible to the business; and supporting services required by the service provider to deliver customer-facing services.
<h3>Service Catalog</h3>
<p>{{=form}}{{=plugin}}</p>
